<html>
  <head>
    <title>Login</title>
  </head>

  <body>
    {% if message.is_some() %}
    <span><strong>{{ message.clone().unwrap() }}</strong></span>
    {% endif %}

    <form method="post">
      <table>
        <tr>
          <td>Username</td>
          <td><input name="username" value="ferris" /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input name="password" type="password" value="hunter42" /></td>
        </tr>
      </table>

      <input type="submit" value="login" />

      {% if next.is_some() %}
      <input type="hidden" name="next" value="{{next.clone().unwrap()}}" />
      {% endif %}
    </form>
  </body>
</html>
